/* Body */

body {
    background-color: #3d3d3d;
    font-family: 'Karla', sans-serif;
}

body p,span {
    font-family: 'Merriweather', serif;
}

/* Navigation */

.navbar {
    height: 100px;
}

.navbar-brand {
    color: #ffd500;
    font-size: 30px;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.nav:hover {
    color: #ffd500;
}

/* alert */

.alert {
    margin-top: 100px;
}
/* Main image */
#main_image {
    background-attachment: fixed;
}

/* About us */
.intro-image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.about-us {
    background-color: darkgray;
    box-sizing: border-box;
}

.section-heading {
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: underline;
}

.section-heading .section-heading-lower {
    display: block;
    margin-top: 5px;
    text-decoration: underline;
}

.section-heading .section-heading-upper {
    margin-top: 5px;
}

/* Footer */
.footer {
    color: white;
    border-top: solid;
}

.footer h3 {
    color: #ffd500;
}

.btn-social {
    color: white;
    font-size: 30px;
}

.btn-social :hover {
    color: #ffd500;
}

.footer-nav :hover {
    color: #ffd500;
}

.home-nav:hover {
    color: #ffd500;
}

/* book a table */
.reservation-form {
    margin-bottom: 10px;
}

.reservation-image {
    margin-top: 100px;
}

.reservation-form h2 {
    color: #ffd500;
}

.yellow-button {
    background-color: black;
    border-color: #ffd500;
    color: #ffd500;
}

.yellow-button a {
    color: #ffd500;
}

.yellow-button:hover {
    background-color: black;
    color: white;
}

.alert-info {
    background-color: black;
    color: #ffd500;
    border-color: #ffd500;
    margin-top: 0px;
}

/* Edit booking */

.edit-booking-form {
    margin-top: 100px;
}

/* Reservations */

.reservation-image img {
    display: block;
    margin: auto;
    text-align: center;
}
.bookings {
    margin-top: 150px;
}

.table {
    background-color: white;
}

.booking-details {
    color: #ffd500;
}

.lead {
    color: #ffd500;
}

.badge-warning {
    color: black;
}

/* Cancellation form */

.cancellation-form {
    margin-top: 100px;
}
/* gallery */
#gallery {
    margin-top: 150px;
}

/* menu */
#background {
    background-color: black;
}
.menu-title {
    margin-top: 100px;
    color: #ffd500;
}

.menu {
    color: white;
    margin-bottom: 20px;
}

.menu h6 {
    text-transform: uppercase;
}

.menu span {
    color: #ffd500;
}

/* Media queries */

@media screen and (max-width: 600px) {
    .about-us {
        font-size: small;
    }
    .section-heading {
        font-size: medium;
    }
    #main_image {
        margin-top: 100px;
    }
}

@media screen and (max-width: 990px) {
    .nav {
        color: #ffd500;
        background-color: black;
        text-decoration: underline;
    }
}

@media screen and (min-width: 1200px) {
    .about-us {
        font-size: x-large;
    }
}

/* login/logout/signup */

.account {
    margin-top: 100px;
    background-color: black;
    color: #ffd500;
}

.btn-signup {
    background-color: #ffd500;
}
