{% extends base.html %}

{% block content %}
<div class="container">
    <h1>Cancel Booking</h1>
    <hr>
    <p>You are about to cancel you booking for {{ booking.table }} on {{ booking.booking_date }} at
        {{ booking.booking_time }}.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="message">Reason for cancellation (optional):</label>
            <textarea class="form-control" name="message" id="message"></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Cancel Booking</button>
        <a href="/reservations" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}