{% extends "base.html" %}

{% block content %}
<!--Gallery page for the restaurant-->
<section id="gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519077/Slice%20of%20Spice/beef_dish_hhb45f.jpg"
                    class="img-fluid" alt="Beef_dish">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519077/Slice%20of%20Spice/flame_grilled_hq51ob.jpg"
                    class="img-fluid" alt="Flame_grilled">
            </div>
            <div class="col-4"><img
                    src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519076/Slice%20of%20Spice/table_seats_upe6ex.jpg"
                    class="img-fluid" alt="Table_and_seats">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519077/Slice%20of%20Spice/table_served_qmybtw.jpg"
                    class="img-fluid" alt="Table_served">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519076/Slice%20of%20Spice/plating_food_lgjpe7.jpg"
                    class="img-fluid" alt="Plating_food">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519077/Slice%20of%20Spice/customers_ordering_ruz5s1.jpg"
                    class="img-fluid" alt="Customers_ordering">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519076/Slice%20of%20Spice/spicey_food_scrlms.jpg"
                    class="img-fluid" alt="Spicey_food">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519076/Slice%20of%20Spice/happy_customers_zxfd1v.jpg"
                    class="img-fluid" alt="Happy_customers">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519076/Slice%20of%20Spice/hot_dish_imsld5.jpg"
                    class="img-fluid" alt="Hot_dish">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519076/Slice%20of%20Spice/plating_p6rmnw.jpg"
                    class="img-fluid" alt="Plating">
            </div>
            <div class="col-4"><img
                    src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519077/Slice%20of%20Spice/fresh_salad_jmgj94.jpg"
                    class="img-fluid" alt="Fresh_salad">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1679519077/Slice%20of%20Spice/diners_served_lmgcji.jpg"
                    class="img-fluid" alt="Dinners_served">
            </div>
        </div>
    </div>
    <br>
</section>
{% endblock %}