{% extends "base.html" %}

{% block head %}
<!-- Meta description -->
<meta name="description"
    content="The Slice of Spice is a fine dining restaurant that offers delicious food cooked with fresh local ingredients and spiced with flavors from around the world. Visit us for an unforgettable dining experience.">
{% endblock %}


{% block content %}
<!--Home Page-->
<div id="main_image">
    <div class="container-fluid g-0">
        <div class="row g-0">
            <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1680635567/Slice%20of%20Spice/Table_1_cglo2i.jpg"
                class="img-fluid" alt="Restaurant">
        </div>
    </div>
</div>
<section>
    <!--About us section-->
    <div class="container text-center">
        <div class="row">
            <div class="about-us col">
                <h2 class="section-heading">
                    <span class="section-heading-upper">Fresh Food</span>
                    <span class="section-heading-lower">To spice your tastebuds</span>
                </h2>
                <p>Adam, along with his partner Kathleen, have always wanted to share their culernary visons of food and
                    we are excited to welcome you to The Slice of Spice.</p>
                <p>Our lovely restaurant hosts a modern bar, selling cocktails, an extensive fine wine list and draught
                    beers.</p>
                <p>Enjoy fine dining in our intimate restaurant with outstanding food.</p>
                <p>All our food is cooked with fresh local ingredients and offers a spice taste from around the world!
                </p>
            </div>
            <div class="col">
                <div>
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
                        src="https://res.cloudinary.com/dfay05cnf/image/upload/v1680635056/Slice%20of%20Spice/food_prep_wjowwj.jpg"
                        alt="food_prep"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}