{% extends "base.html" %}

{% block content %}
<section>
    <div class="container-fluid menu">
        <div class="row">
            <div class="container text-center">
                <div class="row">
                    <h2>FINE DINING</h2>
                    <h4>Famous for good food</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <p>*All food served with freshly baked bread*</p>
                        <h5>Starters</h5>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                    </div>
                    <div class="row">
                        <h5>Main</h5>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                    </div>
                    <div class="row">
                        <h5>Desert</h5>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                        <h6>title</h6><p>description <span>price</span></p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <h5>Drinks</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}