{% extends "base.html" %}

{% block content %}
<div class="container bookings">
    <div class="row">
        <div class="col-sm-12">
            <h1>Booking Details</h1>
            <hr>
            <table>
                <thread>
                <tr>
                <td>Table Number:</td>
                <td>Date:</td>
                <td>Time:</td>
            </tr>
        </thread>
        <tbody>
            {% for booking in user.bookings.all %}
            <tr>
                <td>{{ booking.table }}</td>
                <td>{{ booking.booking_date }}</td>
                <td>{{ booking.booking_time }}</td>
            </tr>
            {% empty %}
            <tr>
                <td>You have no bookings yet!</td>
            </tr>
            {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}